import React from "react"
import { string } from "prop-types"
import "./{{pascalCase name}}.less"

export const {{pascalCase name}} = () => {
    return <div className="{{pascalCase name}}" data-test="{{pascalCase name}}">{{pascalCase name}} Component</div>
}

{{pascalCase name}}.propTypes = {
	example: string,
}
